{% extends 'layout/layout.html' %}
{% load staticfiles %}

{%block title%}Posición {{fleet}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/country.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/zoomVessel.js' %}"></script>
{% endblock %}
{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEuaoh_rW9edjj3Ona1XpY2yOk090mJ5o&amp;sensor=true"></script>
<script src="{% static 'js/markerclusterer.min.js' %}"></script>
{% endblock %}

{% block infotip %}
<div id="infotip-html">
    <p>Página con webservice de testing</p>
</div>
{% endblock %}

{% block sidebarCountry %}
<div id="rms-dropdown" class="sidebar__rm-dropdown">
    <div class="dropdown">
        <button class="btn btn-default btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Embarcaciones
            <span class="caret"></span>
        </button>
        <ul id="rm-list" class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for vessel in vessels%}
            <li role="presentation"> <a id="{{vessel.vesselname|slugify}}" role="menuitem" tabindex="-1" href="#">{{vessel.id}} - {{vessel.vesselname}}</a> </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="handlebar-html" class="sidebar__rm-panel">
    {% for vs in vessels %}
    <div class="panel panel-primary hidden" id="table-{{vs.vesselname|slugify}}">
        <div class="panel-heading">
            <a href="#" style="color:white;" class="pull-right">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                <span class="sr-only">Refresh</span>
            </a>
            <h3 class="panel-title">
                {{vs.vesselname}}
                {% for v in vessel %}
                {% if v.vesselname|upper == vs.vesselname|upper %}
                <small style="color:white">IMO: {{v.IMO}}</small>
                {% endif %}
                {% endfor %}
            </h3>
        </div>
        <div class="panel-body">
            <!-- Table with vessel info -->
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td>Velocidad</td>
                            <td>{{vs.speed}}</td>
                            <td>{{vs.gpsdate}}</td>
                        </tr>
                        {% if vs.rpm > -1 %}
                        <tr>
                            <td>RPM</td>
                            <td>{{vs.rpm}}</td>
                            <td>{{vs.rpmdate}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="text-align: center" class="panel-footer">
            <div class="btn-group-sm" role="group" aria-label="...">
                <a href="/paths/{{vs.id}}?SessionID={{session}}" type="button" class="btn btn-primary">Recorrido</a>
                <!-- <button id="recorrido" vesselidselected="0" class="btn btn-primary">Recorrido</button>-->
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Reportes
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/reports/fuel/{{fleetId}}/{{vs.id}}?SessionID={{session}}">Consumo Combustible</a>
                        </li>
                        <li>
                            <a href="/reports/distance/{{fleetId}}/{{vs.id}}?SessionID={{session}}">Distancias Recorridas</a>
                        </li>
                    </ul>
                </div>
                <a href="#" type="button" class="btn btn-primary">Control</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block mapscriptCountry %}
<section class="main">
    <div id="map-canvas" class="main__map"></div>
</section>
<script>
    var infoWindow = new google.maps.InfoWindow({
            content: ""
    })
    var markers = []
    var tugs = [
        {% for vs in vessels %}
            ["{{vs.vesselname}}", {{vs.lat}}, {{vs.long}}, 5,"<h6>{{vs.vesselname}}</h6> <b>Velocidad</b>: {{vs.speed}} Nudos<br/> <b>Fecha</b>: {{vs.gpsdate}} <br/><br/>", "{{vs.icon}}"],
        {% endfor %}
    ]

    {% if map.mapMarkers %}
        var icons = [
        {% for type in map.mapMarkers %}
            {% if type.type == "icon" %}
            {
                icon: "{% static '' %}img/{{type.image}}",
                center: new google.maps.LatLng({{type.center.0}}, {{type.center.1}}),
                name: "{{type.name}}",
                html: "{{type.markerdata}}"
            },
            {% endif %}
        {% endfor %}
        ]

        var polygons = [
        {% for type in map.mapMarkers %}
            {% if type.type == "polygon" %}
            {
                path:[
                {% for vertice in type.vertices %}
                   new google.maps.LatLng({{vertice.0}}, {{vertice.1}}),
                {% endfor %}
                ],
                html: "{{type.name}}"
            },
            {% endif %}
        {% endfor %}
        ]

        var circles = [
        {% for type in map.mapMarkers %}
            {% if type.type == "circle" %}
            {
                center: new google.maps.LatLng({{type.center.0}}, {{type.center.1}}),
                name: "{{type.name}}",
                radius: {{type.radius}},
                html: "{{type.marketdata}}"
            },
            {% endif %}
        {% endfor %}
        ]
    {% endif %}

    var map = null

    function inicial(){
        var center = new google.maps.LatLng({{map.center.0}}, {{map.center.1}})
        var options = {
            zoom: {{map.zoom}},
            center: center,
            mapTypeId: google.maps.MapTypeId.{{map.mapType}},
            mapTypeControl: {{map.mapTypeControl}},
            streetViewControl: false,
            scaleControl: true,
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.RIGHT_TOP
            },
            zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            },
            panControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            },
            scaleControlOptions: {
                position: google.maps.ControlPosition.BOTTOM_CENTER
            }
        }
        map = new google.maps.Map(document.getElementById("map-canvas"), options)
        setMarkers(map, tugs)
        {% if map.mapMarkers %}
        setIcons(map, icons)
        {% endif %}
        {% if map.cluster %}
        var mcOptions = {
            gridSize: {{map.cluster}},
            maxZoom: 12
        }
        var mc = new MarkerClusterer(map, markers, mcOptions)
        {% endif %}

        {% if map.mapMarkers %}
        for (var p in circles) {
            var circleOptions = {
              strokeColor: '#FF0000',
              strokeOpacity: 0.7,
              strokeWeight: 1,
              fillColor: '#FF0000',
              fillOpacity: 0.40,
              map: map,
              center: circles[p].center,
              radius: circles[p].radius,
              html: circles[p].name + "<br>" + circles[p].html,
              zIndex: 1
            }
            var circle =  new google.maps.Circle(circleOptions)
            var infoWindowTemp = new google.maps.InfoWindow({
                size: new google.maps.Size(150,50)
            })
            google.maps.event.addListener(circle, 'click', function(event){
                var point = this.center
                infoWindowTemp.setContent(this.html)
                if(event){
                    point = event.latLng
                }
                infoWindowTemp.setPosition(point)
                infoWindowTemp.open(map)
            })
        }
        for (var i = 0; i < polygons.length; i++){
            mooringOpt = new google.maps.Polygon({
                paths: polygons[i]["path"],
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                html: polygons[i]["html"],
                zIndex: 1
            })
            var infoWindowTemp = new google.maps.InfoWindow({
                size: new google.maps.Size(150,50)
            })
            google.maps.event.addListener(mooringOpt, 'click', function(event){
                var point = this.getPath().getAt(0)
                infoWindowTemp.setContent(this.html)
                if(event){
                    point = event.latLng
                }
                infoWindowTemp.setPosition(point)
                infoWindowTemp.open(map)
            })
            mooringOpt.setMap(map)
        }
        {% endif %}

    }

    function setMarkers(map, vessels){
       for (var i = 0; i < vessels.length; i++){
            var tugs = vessels[i]
            var tugsLatLon = new google.maps.LatLng(tugs[1], tugs[2])
            var marker = new google.maps.Marker({
                position : tugsLatLon,
                map: map,
                icon: "{% static '' %}img/"+tugs[5],
                draggable: false,
                title: tugs[0],
                html: tugs[4],
                zIndex: 5
            })
            markers.push(marker)
            google.maps.event.addListener(marker, "mouseover", function () {
                infoWindow.setContent(this.html)
                infoWindow.open(map, this)
            })
            google.maps.event.addListener(marker, "mouseout", function(){
                infoWindow.close()
            })
            google.maps.event.addListener(marker, "click", function () {
                $(".panel-primary").addClass("hidden");
                id = String(this.title).toLowerCase()
                link = "#table-" + slugify(id)
                $(link).toggleClass("hidden");
            })
       }
    }

    {% if map.mapMarkers %}
    function setIcons(map, icons){
       for (var p in icons){
            var marker = new google.maps.Marker({
                position: icons[p].center,
                map: map,
                icon: icons[p].icon,
                draggable: false,
                title: icons[p].name,
                zIndex: 2,
                html: "<h6>" + icons[p].name + "</h6> <br>" + icons[p].html
            })
            google.maps.event.addListener(marker, "mouseover", function () {
                infoWindow.setContent(this.html)
                infoWindow.open(map, this)
            })
            google.maps.event.addListener(marker, "mouseout", function () {
                infoWindow.close()
            })
       }
    }
    {% endif %}

    google.maps.event.addDomListener(window, 'load', inicial)
</script>
{% endblock %}