{% extends 'layout/layout.html' %}
{% load staticfiles %}

{%block title%}Reporte Consumo de Combustible{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/reports.css' %}">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block js %}
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Día');
        data.addColumn('number', 'Propulsor Babor');
        data.addColumn('number', 'Propulsor Estribor');
        data.addColumn('number', 'Generador Babor');
        data.addColumn('number', 'Generador Estribor');
        {% if bow %}
        data.addColumn('number', 'Bowthruster');
        {% endif %}
        
        data.addRows([
            {% for c in consumption %}
                {% if bow %}
                ["{{c.date}}", {{c.PRP902}}, {{c.PRS902}}, {{c.GEP902}}, {{c.GES902}}, {{c.BOW902}}],
                {% else %}
                ["{{c.date}}", {{c.PRP902}}, {{c.PRS902}}, {{c.GEP902}}, {{c.GES902}}],
                {% endif %}
            {% endfor %}
        ]);

        var options = {
            chart: {
                title: 'Comsumo de combustible por activo en la embarcación',
                subtitle: 'en Galones por día',
                curveType: 'function',
            },
        };

        var chart = new google.charts.Line(document.getElementById('line_chart'));

        chart.draw(data, options);
    }
</script>
<script src="{% static 'js/focusInput.js' %}"></script>
{% endblock %}

{% block sidebar %}
<section class="sidebar">
    <a href="/country/{{fleet}}">Atrás Flota</a>
    <div class="sidebar__card">
        {% for name in names %}
            {% if name.id == vessel %}
            <h2 class="sidebar__card__title">Reportes de Consumo de Combustible {{name.name}}</h2>
            {% endif %}
        {% endfor %}
    </div>
    <form class="form sidebar__form" method="POST">
        {% csrf_token %}
        <div class="form__group">
            <label for="dateone" class="control-label form__label">Fecha inicio: </label>
            <input required type="text" id="dateone" name="dateone" class="form-control form__date form__input" placeholder="2015-05-19" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        <div class="form__group">
            <label for="datetwo" class="control-label form__label">Fecha final: </label>
            <input required type="text" id="datetwo" name="datetwo" class="form-control form__date form__input" placeholder="2015-05-19" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        <input type="submit" class="btn form-control btn-success form__submit" value="Generar">
    </form>
</section>
{% endblock %}

{% block main %}
<section id="main" class="main">
    <div class="main__tabpanel" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs main__tabpanel__list" role="tablist">
            <li role="presentation" class="active">
                <a href="#line_chart" aria-controls="home" role="tab" data-toggle="tab">Gráfica</a>
            </li>
            <li role="presentation">
                <a href="#table-tab" aria-controls="profile" role="tab" data-toggle="tab">Tabla</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content main__tabpanel__content">
            <div role="tabpanel" class="tab-pane active tabpanel__content_pane content__pane__chart" id="line_chart">
            </div>
            <div id="table-tab" role="tabpanel" class="tab-pane tabpanel__content__pane">
                <div class="content__pane__export">
                    <button id="exportTable" class="btn btn-success content__pane__export__btn">
                        Excel
                    </button>
                </div>
                <div id="table_chart" class="content__pane__table-container">
                    <table id="pane__table" class="table table-bordered table-responsive pane__table">
                        <tr>
                            <th rowspan="2">Día</th>
                            <th colspan="2">Propulsor Babor</th>
                            <th colspan="2">Propulsor Estribor</th>
                            {% if bow %}
                            <th colspan="2">Bowthruster</th>
                            {% endif %}
                            <th colspan="2">Generador Babor</th>
                            <th colspan="2">Generador Estribor</th>
                            <th rowspan="2">Total Consumo</th>
                        </tr>
                        <tr>
                            <td>Consumo</td>
                            <td>Horas</td>
                            <td>Consumo</td>
                            <td>Horas</td>
                            {% if bow %}
                            <td>Consumo</td>
                            <td>Horas</td>
                            {% endif %}
                            <td>Consumo</td>
                            <td>Horas</td>
                            <td>Consumo</td>
                            <td>Horas</td>
                        </tr>
                        {%for c in consumption %}
                        <tr>
                            <td>{{c.date}}</td>
                            <td>{{c.PRP902}}</td>
                            <td>{{c.PRP901}}</td>
                            <td>{{c.PRS902}}</td>
                            <td>{{c.PRS901}}</td>
                            {% if bow %}
                            <td>{{c.BOW902}}</td>
                            <td>{{c.BOW901}}</td>
                            {% endif %}
                            <td>{{c.GEP902}}</td>
                            <td>{{c.GEP901}}</td>
                            <td>{{c.GES902}}</td>
                            <td>{{c.GEP901}}</td>
                            <th>{{c.total}}</th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}