{% extends 'layout/layout.html' %}
{% load staticfiles %}

{%block title%}Recorrido {{vessel.vesselname}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/paths.css' %}">
{% endblock %}
{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEuaoh_rW9edjj3Ona1XpY2yOk090mJ5o&amp;sensor=true"></script>
{% endblock %}
{% block js %}
<script src="{% static 'js/focusInput.js' %}"></script>
{% endblock %}

{% block reports %}
<ul id="navbar__left" class="nav navbar-nav navbar__left">
    <li class="dropdown navbar__left__dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Reportes
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/reports/fuel/{{vessel.FleetId}}/{{vessel.id}}?SessionID={{session}}">Consumo de Combustible</a></li>
            <li role="presentation"><a href="/reports/distance/{{vessel.FleetId}}/{{vessel.id}}?SessionID={{session}}">Distancia Recorrida</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block sidebarPaths %}
<header id="rm-html" class="sidebar__card">
    <a href="/country/{{vessel.FleetId}}?SessionID={{session}}">Atrás Flota</a>
    <h3 class="sidebar__card__title">{{vessel.vesselname}} <img src="{% static 'flags/' %}{{vessel.FlagCode}}.png" /></h3>
    <p class="sidebar__card__description">
        <b>CallSign</b>: {{vessel.Callsign}}
        <b>IMO</b>: {{vessel.IMO}}
    </p>
    <!-- <p class="sidebar__card__description last-report "> Último reporte: * </p> -->
    <img class="sidebar__card__image" src="{% static '' %}img/{{vessel.Picture}}">
</header>
<div class="panel panel-default alerts__panel">
    <table id="alerts-html" class="table alerts__table">
        <thead>
            <tr>
                <th>Id Alarma</th>
                <th>Mensaje</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% if alarms.count > 0 %}
            {% for alarm in alarms.alarms %}
            <tr>
                <th>{{alarm.id}}</th>
                <th>{{alarm.message}}</th>
                <th>{{alarm.date}}</th>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <th>-</th>
                <th>No hay alarmas el día de hoy</th>
                <th>-</th>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div id="point-html" class="sidebar__rmpanel">
    <h3 class="rmpanel__title">{{value.gpsdata.lat}}, {{value.gpsdata.long}} {{value.gpsdata.speed}}</h3>
    <!-- <p data-color="green" class="rmpanel__opstate"> :  </p>-->
    <p class="rmpanel__date">{{dates.value}}</p>
    <table class="table table-striped table-bordered rmpanel__table">
        <tbody id="table__body">
            {% for key, value in value.daqdata.items %}
            <tr>
                <th>
                    <span class="glyphicon glyphicon-signal">
                    </span> {{key}}
                </th>
                <th id="table__{{key}}">{{value}}</th>
            </tr>
            {% empty %}
            <tr>
                <th>
                    No Data
                </th>
                <th id="table__{{key}}">No Data</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block search %}
<section class="dates">
    <div class="dates__container">
        <form class="form form-inline" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" id="date1" name="init" placeholder="{{dates.init}}" value="{{dates.init}}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            <input type="text" class="form-control" id="date2" name="final" placeholder="{{dates.final}}" value="{{dates.final}}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            <input type="submit" class="btn btn-primary" value="Buscar">
        </form>
    </div>
</section>
<section class="sidebar-right">
    <input type="checkbox" id="sidebar-collapsible">
    <label for="sidebar-collapsible" class="labels-title"></label>
    <div class="sidebar-right__labels">
        <div class="sidebar-right__labels__entities">
            <div class="list-group">
                <a class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <span class="circle circle--green">Punto</span>
                    </h4>
                </a>
                <a class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <span class="circle circle--red">Alerta</span>
                    </h4>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block mapscriptPaths %}
{% if path.coordinates|length > 0 %}
<section class="main">
    <div id="map-canvas" class="main__map"></div>
</section>
<script>
    var infoWindow = new google.maps.InfoWindow({
            content: ""
    })
    var dots = [
        {% for p in path.coordinates %}
            ["{{vessel.vesselname|upper}}", {{p.position.lat}}, {{p.position.lon}}, 1,
            "<h6>{{vessel.vesselname|upper}}</h6> <b>Velocidad</b>: {{p.speed}} Nudos<br/> <b>Fecha</b>: {{p.datetime}} <br/><br/>",
            "{{p.id}}", "{{p.speed}}", "{{p.datetime}}"],
        {% endfor %}
    ]
    {% if map.mapMarkers %}
        var icons = [
        {% for type in map.mapMarkers %}
            {% if type.type == "icon" %}
            {
                icon: "{% static '' %}img/{{type.image}}",
                center: new google.maps.LatLng({{type.center.0}}, {{type.center.1}}),
                name: "{{type.name}}",
                html: "{{type.markerdata}}"
            },
            {% endif %}
        {% endfor %}
        ]

        var polygons = [
        {% for type in map.mapMarkers %}
            {% if type.type == "polygon" %}
            {
                path:[
                {% for vertice in type.vertices %}
                   new google.maps.LatLng({{vertice.0}}, {{vertice.1}}),
                {% endfor %}
                ],
                html: "{{type.name}}"
            },
            {% endif %}
        {% endfor %}
        ]

        var circles = [
        {% for type in map.mapMarkers %}
            {% if type.type == "circle" %}
            {
                center: new google.maps.LatLng({{type.center.0}}, {{type.center.1}}),
                name: "{{type.name}}",
                radius: {{type.radius}},
                html: "{{type.marketdata}}"
            },
            {% endif %}
        {% endfor %}
        ]
    {% endif %}

    var track = [
        {% for p in path.coordinates %}
            new google.maps.LatLng({{p.position.lat}}, {{p.position.lon}}),
        {% endfor %}
    ]

    var alert = [
        {% for p in path.coordinates %}
        "{{p.color}}",
        {% endfor %}
    ]

    var arrow = {
        path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,
        scale: 1.05,
        strokeColor: 'green', 
        strokeOpacity: 0.6
    }

    function inicial(){
        {% with lastPos=path.coordinates|last %}
        var center = new google.maps.LatLng({{lastPos.position.lat}}, {{lastPos.position.lon}})
        {% endwith %}
        var options = {
            zoom: 13,
            center: center,
            mapTypeId: google.maps.MapTypeId.{{map.mapType}},
            mapTypeControl: true,
            streetViewControl: false,
            scaleControl: true,
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP
            },
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            panControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            scaleControlOptions: {
                position: google.maps.ControlPosition.BOTTOM_CENTER
            }
        }
        var map = new google.maps.Map(document.getElementById("map-canvas"), options)

        var line = new google.maps.Polyline({
            path: track,
            map: map,
            icons: [{
                icon: arrow,
                offset: '50%',
                repeat: "25px"
            }],
            geodesic: true,
            strokeColor: 'green',
            strokeOpacity: 0.6,
            strokeWeight: 2,
            zIndex: 1
        })
        var vessel = new google.maps.Marker({
            {% with lastPos=path.coordinates|last %}
            position: new google.maps.LatLng({{lastPos.position.lat}}, {{lastPos.position.lon}}),
            {% endwith %}
            map: map,
            draggable: false,
            icon: "{% static '' %}img/"+"{{vessel.Icon}}",
            title: "{{vessel.vesselname}}",
            zIndex: 5
        })

        setMarkers(map, dots)
        {% if map.mapMarkers %}
        setIcons(map, icons)
        {% endif %}

        {% if map.mapMarkers %}
        for (var p in circles) {
            var circleOptions = {
              strokeColor: '#FF0000',
              strokeOpacity: 0.7,
              strokeWeight: 1,
              fillColor: '#FF0000',
              fillOpacity: 0.40,
              map: map,
              center: circles[p].center,
              radius: circles[p].radius,
              html: circles[p].name + "<br>" + circles[p].html,
              zIndex: 1
            }
            var circle =  new google.maps.Circle(circleOptions)
            var infoWindowTemp = new google.maps.InfoWindow({
                size: new google.maps.Size(150,50)
            })
            google.maps.event.addListener(circle, 'click', function(event){
                var point = this.center
                infoWindowTemp.setContent(this.html)
                if(event){
                    point = event.latLng
                }
                infoWindowTemp.setPosition(point)
                infoWindowTemp.open(map)
            })
        }
        for (var i = 0; i < polygons.length; i++){
            mooringOpt = new google.maps.Polygon({
                paths: polygons[i]["path"],
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                html: polygons[i]["html"],
                zIndex: 1
            })
            var infoWindowTemp = new google.maps.InfoWindow({
                size: new google.maps.Size(150,50)
            })
            google.maps.event.addListener(mooringOpt, 'click', function(event){
                var point = this.getPath().getAt(0)
                infoWindowTemp.setContent(this.html)
                if(event){
                    point = event.latLng
                }
                infoWindowTemp.setPosition(point)
                infoWindowTemp.open(map)
            })
            mooringOpt.setMap(map)
        }
        {% endif %}
    }

    function setMarkers(map, points){
       for (var i = 0; i < points.length; i++){
            var point = points[i]
            var pointLatLon = new google.maps.LatLng(point[1], point[2])
            var marker = new google.maps.Marker({
                position : pointLatLon,
                map: map,
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 2,
                    strokeColor: alert[i],
                    strokeOpacity: 0.9
                },
                draggable: false,
                title: point[0],
                html: point[4],
                dateId: point[5],
                zIndex: 1
            })
            google.maps.event.addListener(marker, "mouseover", function () {
                infoWindow.setContent(this.html)
                infoWindow.open(map, this)
            })
            google.maps.event.addListener(marker, "mouseout", function(){
                infoWindow.close()
            })
            google.maps.event.addListener(marker, "click", function () {
                id = this.dateId
                $.get( "http://190.242.119.122:82/sioservices/daqonboardservice.asmx/GetDaqValue",
                { SessionID: "{{session}}", GetData: "vesselid={{vessel.id}}|datestring=" + id  } )
                  .done(function(data){
                    var values = data.childNodes[0].childNodes[0].nodeValue
                    values = JSON.parse(values)
                    datePanel = id.slice(0,4) + "-" + id.slice(4,6) + "-" + id.slice(6,8) + " " + id.slice(8,10) + ":" + id.slice(10,12) +
                                ":" + id.slice(12,14)
                    $(".rmpanel__date").html(datePanel)
                    $(".rmpanel__title").html(values["gpsdata"]["lat"] + ", " + values["gpsdata"]["long"] + " " +
                                            values["gpsdata"]["speed"])
                    var target = values["daqdata"]
                    $("#table__body").empty()
                    if (Object.keys(target).length == 0){
                        string = "<tr><th>No Data</th><th>No Data</th></tr>"
                        console.log(string)
                        $("#table__body").append(string)
                    }
                    else{
                        for (var k in target){
                            if(target.hasOwnProperty(k)){
                                string = "<tr><th><span class='glyphicon glyphicon-signal'></span> " + k
                                string += "</th><th id='table__" + k
                                string += "'>" + target[k]
                                string += "</th></tr>"
                                $("#table__body").append(string)
                                //$("#table__"+k).html(target[k])
                            }
                        }
                    }
                  });
            })
       }
    }

    {% if map.mapMarkers %}
    function setIcons(map, icons){
       for (var p in icons){
            var marker = new google.maps.Marker({
                position: icons[p].center,
                map: map,
                icon: icons[p].icon,
                draggable: false,
                title: icons[p].name,
                zIndex: 2,
                html: "<h6>" + icons[p].name + "</h6> <br>" + icons[p].html
            })
            google.maps.event.addListener(marker, "mouseover", function () {
                infoWindow.setContent(this.html)
                infoWindow.open(map, this)
            })
            google.maps.event.addListener(marker, "mouseout", function () {
                infoWindow.close()
            })
       }
    }
    {% endif %}
    google.maps.event.addDomListener(window, 'load', inicial)
</script>
{% else %}
<span class="main__map main">No hay datos el día de hoy</span>
{% endif %}
{% endblock %}